.cards-container {
    display        : flex;
    justify-content: space-evenly;
    padding        : 0 10vw;

    .card {
        width   : 400px;
        height  : 400px;
        position: relative;

        .card-footer {
            background-color: $primary;
            color: $secondary;
            position        : absolute;
            height          : 20%;
            // width: 100%;
            bottom          : 0;
            left            : 0;
            right           : 0;

            @include centralize;
            @include subtitle-font(1.2em);
        }
    }
}